<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Title</title>
</head>
<body>
<div>
    <th:block th:insert="fragments/language :: language"/>
</div>
<div class="container">
    <form class="form-signin" th:action="@{/admin/add-room}" th:object="${roomDto}" method="post">
        <h3 th:text="#{room.form}">Room form</h3>
        <div th:if="${error != null}">
            <p th:text="#{${error}}">...</p>
        </div>
        <div class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>
        <div>
            <input class="form-control" type="text" th:placeholder="#{room.name}" required="" id="roomName"
                   th:field="*{name}"/>
        </div>
        <div th:if="${#fields.hasErrors('roomSize')}" th:errors="*{roomSize}">Size Error</div>
        <div>
            <input class="form-control" type="text" th:placeholder="#{placeholder.size}" required=""
                   id="roomSize"
                   th:field="*{roomSize}"/>
        </div>

        <div>
            <button class="btn btn-lg btn-primary btn-block" th:text="#{add.room}" type="submit">Add house</button>
        </div>
    </form>
    <div>
        <a th:href="@{/admin/index}" th:text="#{home}"></a>
    </div>
</div>
</body>
</html>