<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Title</title>
</head>
<body>
<div>
    <th:block th:insert="fragments/language :: language"/>
</div>
<div class="container">
    <form class="form-signin" th:action="@{/resident/set-up-parameter}" th:object="${setUpParameterDto}" method="post">
        <h3 th:text="#{set.parameter.form}">Set parameter form</h3>
        <div th:if="${error != null}">
            <p th:text="#{${error}}">...</p>
        </div>
        <div class="form-group">
            <label for="parameter" th:text="#{select.parameter}"></label>
            <select class="form-control" id="parameter" name="parameters" th:field="*{parameterId}">
                <option th:each="par : ${parameters}"
                        th:value="${par.id}" th:text="${par.name}"></option>
            </select>
        </div>
        <div>
            <input class="form-control" type="text" th:placeholder="#{device.parameter.value}" required="" id="value"
                   th:field="*{value}"/>
        </div>
        <div>
            <button class="btn btn-lg btn-primary btn-block" th:text="#{add.device}" type="submit">Add device</button>
        </div>
    </form>
    <div>
        <a th:href="@{/resident/index}" th:text="#{home}"></a>
    </div>
</div>
</body>
</html>