<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Title</title>
</head>
<body>
<div>
    <th:block th:insert="fragments/language :: language"/>
</div>
<div class="container">
    <form class="form-signin" th:action="@{/admin/sign-up}" th:object="${signUp}" method="post">
        <h3 th:text="#{registration.form}">Registration form</h3>
        <div th:if="${error != null}">
            <p th:text="#{${error}}">...</p>
        </div>
        <div class="error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error</div>
        <div>
            <input class="form-control" type="text" th:placeholder="#{placeholder.username}" required="" id="username"
                   th:field="*{username}"/>
        </div>
        <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</div>
        <div>
            <input class="form-control" type="password" th:placeholder="#{placeholder.password}" required=""
                   id="password"
                   th:field="*{password}"/>
        </div>
        <div class="error" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">First name Error</div>
        <div>
            <input class="form-control" type="text" th:placeholder="#{placeholder.first.name}" required=""
                   id="firstname"
                   th:field="*{firstName}"/>
        </div>
        <div class="error" th:if="${#fields.hasErrors('firstNameRu')}" th:errors="*{firstNameRu}">First name Error</div>
        <div>
            <input class="form-control" type="text" th:placeholder="#{placeholder.first.name.ru}" required=""
                   id="firstnameRu"
                   th:field="*{firstNameRu}"/>
        </div>
        <div class="error" th:if="${#fields.hasErrors('middleName')}" th:errors="*{middleName}">Middle name Error</div>
        <div>
            <input class="form-control" type="text" th:placeholder="#{placeholder.second.name}" required=""
                   id="middlename"
                   th:field="*{middleName}"/>
        </div>
        <div class="error" th:if="${#fields.hasErrors('middleNameRu')}" th:errors="*{middleNameRu}">Middle name Error
        </div>
        <div>
            <input class="form-control" type="text" th:placeholder="#{placeholder.second.name.ru}" required=""
                   id="middlenameRu"
                   th:field="*{middleNameRu}"/>
        </div>
        <div class="error" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Last name Error</div>
        <div>
            <input class="form-control" type="text" th:placeholder="#{placeholder.last.name}" required="" id="lastname"
                   th:field="*{lastName}"/>
        </div>
        <div class="error" th:if="${#fields.hasErrors('lastNameRu')}" th:errors="*{lastNameRu}">Last name Error
        </div>
        <div>
            <input class="form-control" type="text" th:placeholder="#{placeholder.last.name.ru}" required=""
                   id="lastnameRu"
                   th:field="*{lastNameRu}"/>
        </div>
        <div class="error" th:if="${#fields.hasErrors('passport')}" th:errors="*{passport}">Passport Error</div>
        <div>
            <input class="form-control" type="text" th:placeholder="#{placeholder.passport}" required=""
                   id="passport"
                   th:field="*{passport}"/>
        </div>
        <div class="error" th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}">Birthday Error</div>
        <div>
            <input class="form-control" type="date" th:placeholder="#{placeholder.birthday}" required=""
                   id="birthday"
                   th:value="*{birthday}"
                   th:field="*{birthday}" pattern="dd-MM-yyyy"/>
        </div>
        <div class="form-group">
            <label for="address" th:text="#{select.address.of.house}"></label>
            <select class="form-control" id="address" name="persons" th:field="*{addressId}">
                <option th:each="ad : ${addresses}"
                        th:value="${ad.id}" th:text="${ad}"></option>
            </select>
        </div>
        <div>
            <label th:text="#{is.owner}" th:for="${#ids.next('role')}">Is owner</label>
            <input type="checkbox" name="role" th:field="*{role}">
        </div>
        <div>
            <button class="btn btn-lg btn-primary btn-block" th:text="#{sign.up}" type="submit">Sign Up</button>
            <a th:href="@{/auth/login}" th:text="#{login.log.in}">Log in</a>
        </div>
    </form>
</div>
</body>
</html>