<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Requests</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body>
<div class="header-container">
    <h3 th:text="#{room.list}">Rooms</h3>
</div>
<div class="lang2">
    <th:block th:insert="fragments/language :: language"/>
</div>
<table class="table table-hover">
    <div th:if="${error != null}">
        <p th:text="#{${error}}">...</p>
    </div>
    <thead>
    <tr>
        <th th:text="#{room.id}">House id</th>
        <th th:text="#{placeholder.size}">Size</th>
        <th th:text="#{room.name}">Amount of rooms</th>
        <th th:text="#{placeholder.temperature}">Temperature</th>
        <th th:text="#{placeholder.humidity}">Humidity</th>
        <th th:text="#{placeholder.smoke.level}">Smoke level</th>
        <th th:text="#{placeholder.water.level}">Water level</th>
   </tr>
    </thead>
    <tbody>
    <tr th:each="room, iStat : ${rooms}"
        th:style="${iStat.odd}? 'font-weight: bold;'"
        th:alt-title="${iStat.even}? 'even' : 'odd'">
        <td th:text="${room.id}"></td>
        <td th:text="${room.size}"></td>
        <td th:text="${room.name}"></td>
        <td th:text="${room.roomParameter!=null}?${room.roomParameter.temperature}:'-' "></td>
        <td th:text="${room.roomParameter!=null}?${room.roomParameter.humidity}:'-' "></td>
        <td th:text="${room.roomParameter!=null}?${room.roomParameter.smokeLevel}:'-' "></td>
        <td th:text="${room.roomParameter!=null}?${room.roomParameter.waterLevel}:'-' "></td>
        <td th:if="${#httpServletRequest.remoteUser=='admin'}">
            <a th:href="@{/admin/delete-room/{room-id}(room-id=${room.id})}"
               th:text="#{delete.room}">

            </a>
        </td>
        <td th:if="${#httpServletRequest.remoteUser!='admin'}">
            <a th:href="@{/resident/my-devices/{room-id}(room-id=${room.id})}"
               th:text="#{device.list}">Device list </a>
        </td>
        <td th:if="${#httpServletRequest.remoteUser!='admin'}">
            <a th:href="@{/resident/set-up-room-parameters/{room-id}(room-id=${room.getId()})}"
               th:text="#{set.up.room.parameters}">
                Set up room parameters
            </a>
        </td>
        <td th:if="${#httpServletRequest.remoteUser!='admin'}">
            <a th:href="@{/resident/simulate-fire/{room-id}(room-id=${room.id})}"
               th:text="#{fire}">Fire </a>
        </td>
    </tr>
    </tbody>
</table>
<div th:if="${#httpServletRequest.remoteUser=='admin'}">
    <a th:href="@{/admin/add-room}" th:text="#{add.room}"></a>
</div>
<div th:if="${#httpServletRequest.remoteUser=='admin'}">
    <a th:href="@{/admin/houses}" th:text="#{admin.house.list}"></a>
</div>
<div th:if="${#httpServletRequest.remoteUser=='admin'}">
    <a th:href="@{/admin/index}" th:text="#{home}"></a>
</div>
<div th:if="${#httpServletRequest.remoteUser!='admin'}">
    <a th:href="@{/resident/index}" th:text="#{home}"></a>
</div>
</body>
</html>